<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('检验申请列表')" />
    <!--<th:block th:include="include :: lodopFuncs-js" />-->
    <script th:src="@{/ajax/libs/lodop/LodopFuncs.js}"></script>
    <object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA"width=0 height=0>
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>

</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>申请单号：</label>
                                <input type="text" name="appNo"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="appStatus" th:with="type=${@dict.getType('inspection_app_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>申请机构：</label>
                                <input type="text" name="appOrgName"/>
                            </li>

                            <li>
                                <label>患者姓名：</label>
                                <input type="text" name="patientName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="inspection:requisition:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="inspection:requisition:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="inspection:requisition:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="inspection:requisition:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('inspection:requisition:edit')}]];
        var removeFlag = [[${@permission.hasPermi('inspection:requisition:remove')}]];
        var appStatusDatas = [[${@dict.getType('inspection_app_status')}]];
        var patientSexDatas = [[${@dict.getType('sys_user_sex')}]];
        var patientTypeDatas = [[${@dict.getType('inspection_patient_type')}]];
        var prefix = ctx + "inspection/requisition";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                detailUrl: prefix + "/detail/{id}",
                detailView: true,
                onExpandRow : function(index, row, $detail) {
                    initChildTable(index, row, $detail);
                },
                modalName: "检验申请",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'appNo',
                    title: '申请单号'
                },
                {
                    field: 'appTime',
                    title: '申请时间'
                },
                {
                    field: 'appStatus',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(appStatusDatas, value);
                    }
                },
                {
                    field: 'appOrgName',
                    title: '申请机构'
                },
                {
                    field: 'patientName',
                    title: '患者姓名'
                },
                {
                    field: 'patientAge',
                    title: '年龄'
                },
                {
                    field: 'patientSex',
                    title: '性别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(patientSexDatas, value);
                    }
                },
                {
                    field: 'patientPhone',
                    title: '电话'
                },
                {
                    field: 'patientType',
                    title: '就诊类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(patientTypeDatas, value);
                    }
                },
                {
                    field: 'patientCode',
                    title: '就诊号'
                },
                    {
                        field: 'appAmount',
                        title: '项目金额'
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详细</a> ');
                        actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="commit(\'' + row.id + '\')"><i class="fa fa-send"></i>提交</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function commit(id) {
            var url = prefix + '/commit';
            var data = {
                "id":id
            }
            $.operate.saveModal(url, data);
        }
        initChildTable = function(index, row, $detail) {
            var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
            $(childTable).bootstrapTable({
                url: prefix + "/barcode",
                method: 'post',
                sidePagination: "server",
                contentType: "application/x-www-form-urlencoded",
                queryParams : {
                    requisitionId: row.id
                },
                columns: [{
                    field : 'barcode',
                    title : '条码号'
                },
                    {
                        field : 'items',
                        title : '项目'
                    },
                    {
                        field : 'excuteSection',
                        title : '执行科室'
                    },
                    {
                        field : 'sampleCollectAdvice',
                        title : '采集要求'
                    },
                    {
                        field : 'sampleCollectDate',
                        title : '采集时间'
                    },
                    {
                        field : 'reportPlace',
                        title : '报告地点'
                    },
                    {
                        field : 'reportTime',
                        title : '报告时间'
                    },
                    {
                        field : 'printTime',
                        title : '打印时间'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="printBarcode(\'' + row.id + '\')"><i class="fa fa-print"></i>预览</a> ');
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="printBarcode(\'' + row.id + '\')"><i class="fa fa-print"></i>打印</a>');
                            return actions.join('');
                        }
                    }]
            });
        };
        printBarcode = function(index) {
            var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
            var row = $(childTable).bootstrapTable("getData")[index];
            var LODOP=getLodop();
            //var LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
            LODOP.PRINT_INIT("打印条码");
            LODOP.SET_PRINT_PAGESIZE(1,'5cm','3.7cm',2);
            LODOP.ADD_PRINT_BARCODE(3,3,101,60,"128c",row.barcode);//条码

            LODOP.ADD_PRINT_TEXT(4, 111, 45, 20, row.excuteSection);//检验类别
            LODOP.ADD_PRINT_TEXT(24, 111, 45, 20, "外院");//病人类型

            LODOP.ADD_PRINT_TEXT(46, 106, 25, 40, row.patientSex);//性别
            LODOP.ADD_PRINT_TEXT(46, 124, 25, 40, row.patientAge);//年龄
            LODOP.ADD_PRINT_TEXT(46, 138, 65, 40, row.patientName);//姓名

            LODOP.ADD_PRINT_TEXT(68, 4, 285, 21, row.items);//项目

            //LODOP.ADD_PRINT_TEXT(84, 4, 205, 21, sampleSourceFrom);//标本来源
            //LODOP.ADD_PRINT_TEXT(100, 4, 205, 21, row.);//申请时间
            LODOP.PREVIEW();//打印预览
            LODOP.SET_PRINT_MODE("CATCH_PRINT_STATUS",true);
        }
    </script>
</body>
</html>